.bu-slideshow-container {
  overflow: hidden;
  position: relative;
}
.bu-slideshow-container .bu-slideshow {
  width: 100% !important;
  height: auto !important;
  list-style: none !important;
  margin: 0;
  padding: 0;
  position: relative !important;
}
.bu-slideshow-container .bu-slideshow li {
  list-style-type: none !important;
  width: 100% !important;
  height: auto !important;
}
.bu-slideshow-container .bu-slideshow li .bu-slide-container {
  width: 100%;
}
.bu-slideshow-container .bu-slideshow li .bu-slide-container img {
  max-width: 100%;
}
.bu-slideshow-container .bu-slideshow li .bu-slide-container .bu-slide-caption {
  background: rgba(0, 0, 0, 0.75);
  bottom: 20%;
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10%;
  width: 35%;
  z-index: 12;
}
.bu-slideshow-container .bu-slideshow li .bu-slide-container .bu-slide-caption p {
  color: #ffffff;
  font-size: .75em;
  padding: 0 1.25em;
  line-height: 1.4;
}
.bu-slideshow-container .bu-slideshow li .bu-slide-container .bu-slide-caption a {
  color: #f3cf00;
  text-decoration: none;
}
.bu-slideshow-container .bu-slideshow li .bu-slide-container .bu-slide-caption a :hover {
  text-decoration: underline;
}
.bu-slideshow-container .bu-slideshow li .bu-slide-container .bu-slide-caption .bu-slide-caption-title {
  font-size: 1.2em;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #f3cf00;
  margin: 0;
  padding: 1em;
}
.bu-slideshow-container .animate-slide-default {
  left: -100%;
  position: absolute;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}
.bu-slideshow-container .animate-slide-in {
  left: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}
.bu-slideshow-container .animate-slide-out {
  left: 100%;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}
.bu-slideshow-container .animate-fade-default {
  opacity: 0;
  position: absolute;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.bu-slideshow-container .animate-fade-in {
  opacity: 1.0;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.bu-slideshow-container .animate-fade-out {
  opacity: 0;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.bu-slideshow-container .transition-slide .bu-slide-container {
  left: -100%;
  position: absolute;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}
.bu-slideshow-container .transition-slide .animate-in .bu-slide-container {
  left: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}
.bu-slideshow-container .transition-slide .animate-out .bu-slide-container {
  left: 100%;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}
.bu-slideshow-container .transition-fade .bu-slide-container {
  opacity: 0;
  position: absolute;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.bu-slideshow-container .transition-fade .animate-in .bu-slide-container {
  opacity: 1.0;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.bu-slideshow-container .transition-fade .animate-out .bu-slide-container {
  opacity: 0;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -ms-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.bu-slideshow-container .bu-slideshow-navigation-container .bu-slideshow-navigation {
  bottom: 1em;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 13;
}
.bu-slideshow-container .bu-slideshow-navigation-container .bu-slideshow-navigation li {
  display: inline;
}
.bu-slideshow-container .bu-slideshow-navigation-container .nav-icon li a {
  display: inline-block;
  text-indent: -9999em;
  border-radius: 50%;
  padding: 2px;
  background: #ffffff;
  border: 3px solid rgba(0, 0, 0, 0.35);
  height: 12px;
  width: 12px;
}
.bu-slideshow-container .bu-slideshow-navigation-container .nav-icon li a span {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.bu-slideshow-container .bu-slideshow-navigation-container .nav-icon li a:hover span {
  background: #909090;
}
.bu-slideshow-container .bu-slideshow-navigation-container .nav-icon li a.active span {
  background: #cdcdcd;
}
.bu-slideshow-container .bu-slideshow-navigation-container .nav-number li {
  list-style-type: none;
  margin-left: 1em;
}
.bu-slideshow-container .bu-slideshow-navigation-container .nav-number li a {
  background-color: #e1e1e1;
  color: #999999;
  display: inline-block;
  font-size: 1.1em;
  line-height: normal;
  opacity: 0.75;
  padding: .3em .7em .25em;
  text-decoration: none;
}
.bu-slideshow-container .bu-slideshow-navigation-container .nav-number li a:hover,
.bu-slideshow-container .bu-slideshow-navigation-container .nav-number li a.active {
  background-color: #dddddd;
  color: #666666;
  opacity: 1;
}
