.bu_modal_bg {
	background:url('../img/bg.png') transparent repeat;
	background:rgba(0,0,0,0.75);
	height: 100%;
	left: 0;
	position:fixed;
	top:0;
	width:100%;
	z-index:159900; /* to top WP admin menu */
}

.bu_modal.loading_content {
	background: url('../img/loading.gif') transparent no-repeat center center;
}

.bu_modal.active {
	left: 50%;
	
	position:fixed;
	top:65px;
	bottom:65px;
	z-index:160000;
	overflow-y: auto;
}

.bu_modal.active .postboxheader {
	background: #000;
    overflow: hidden;
    position: relative;
    
    display: block;
	width: 100%;
    height: 24px;
    z-index: 160000;
}

.bu_modal.active .postboxheader a.close_btn {
    color: #EFEFEF;
    display: block;
    float: right;
    padding: 4px;
    text-decoration: none;
}
