/* Slideshow editor */
.bu-slide-header {
	padding-top: 0;
	margin-top: 0;
}

.bu-slide-header > p {
	float: left;
	margin: 0 30px 0 0;
}

.bu-add-slide-section {
	display: block;
	max-width: 760px;
	text-align: right;
}

.bu-slide-header-thumb img {
	width: 30px;
	height: 30px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	vertical-align: bottom;
}

.bu-slide-title {
	display: inline-block;
	min-height: 1.1em;
	padding-top: 5px;
}

.bu-slide-control {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: block;
	overflow: hidden;
	width: 60px;
	margin-right: 0!important;
	outline: 0;
	text-indent: 100%;
	white-space: nowrap;
}

.bu-slideshow-slide .accordion-section-title p {
	float: left;
	margin-right: 10px;
	font-weight: 700;
}

.bu-slideshow-slide .accordion-section-title:after {
	top: 19px;
	right: 15px;
	font-size: 35px;
}

#bu-slideshow-editform > p {
	margin: 2em 0;
}

li.bu-slideshow-slide {
	position: relative;
	overflow: hidden;
	max-width: 760px;
	border: 1px solid #dfdfdf;
	background: #ffffff;
}

li.bu-slideshow-slide label {
	display: inline-block;
	width: 150px;
	vertical-align: top;
}

li.bu-slideshow-slide input[type=text],
li.bu-slideshow-slide input[type=select] {
	display: inline-block;
	width: 250px;
	border: 1px solid #d0d0d0;
}

.bu-slide-thumb-container {
	float: left;
	min-width: 200px;
	margin-top: 22px;
	text-align: center;
}

.bu-slide-edit-container {
	display: none;
	padding: 10px 20px;
}

.bu-slideshow-slide:first-child .bu-slide-edit-container {
	display: block;
}

.bu-slide-thumb {
	display: block;
	margin-top: 20px;
}

.bu-slide-thumb img {
	max-width: 100px;
}

.bu-slide-caption-container {
	float: right;
	padding-bottom: 30px;
	margin-top: 30px;
}

li.bu-slideshow-slide textarea {
	width: 300px;
	border: 1px solid #d0d0d0;
}

.bu-slide-delete-button,
.wp-core-ui .bu-slide-delete-button {
	position: absolute;
	right: 20px;
	bottom: 10px;
	color: red;
}

.bu-slide-delete-button:hover,
.bu-slide-delete-button:active,
.wp-core-ui .bu-slide-delete-button:hover,
.wp-core-ui .bu-slide-delete-button:active {
	background: red;
	color: #ffffff;
	text-shadow: none;
}

.sortable-placeholder {
	padding: 10px 20px;
	border: 2px #cdcdcd dashed;
}

/* Manage slideshows */
#bu-slideshow-manage {
	max-width: 600px;
	border-color: #dfdfdf;
	background-color: #f9f9f9;
}

#bu-slideshow-manage li {
	overflow: hidden;
	padding: 10px;
	margin-bottom: 0;
	border-bottom: 1px solid #dfdfdf;
}

#bu-slideshow-manage li:last-child {
	border-bottom: none;
}

#bu-slideshow-manage span {
	display: inline-block;
}

#bu-slideshow-manage .bu-slideshow-delete {
	color: red;
}

/* insert slideshow button (only needs styling on WP < 3.5) */
#media-buttons #bu_slideshow_modal_button {
	display: inline-block;
	padding: 2px 6px;
	margin: 0 0 0 10px;
}

/* slideshow modal container */
#bu_slideshow_modal_wrap {
	height: 100%;
	margin: 10px 20px;
	border: none;
	background: none;
}

.bu_modal.active {
	bottom: auto!important;
	max-height: 550px;
}

p.bu_slideshow_nav_style {
	display: none;
}

.bu-slide-meta {
	max-width: 200px;
	margin: 5px auto;
	word-break: break-all;
}

.change-slide-size {
	margin-top: 10px;
}
